@using ProiectDAW.Models
<head>
    <meta charset='utf-8' />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.0/main.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.0/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                //initialView: 'timeGridDay'
                initialView: 'dayGridMonth'
            });
            calendar.render();
            $.getJSON('https://localhost:44366/Appointments/Appoint', function (data) {
                var len = data.length;
                for (var i = 0; i < len; i++) {    
                    var titlu = "Programare: ora " + data[i].Ora + ":00:00"
                    calendar.addEvent({
                        title: titlu,
                        start: data[i].Data,
                        allDay: true
                    });
                }
            });

        });

    </script>
</head>
@{
    ViewBag.Title = "Myappointments";
}
<br />
<br />
<br />

<h1 style="color: #862d2d;">Programarile dumneavoastra: </h1>

<style>
    body {
        background-image: url('../../Images/Back.jpg');
    }
</style>

<br />
<br />
<br />
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var propList = ViewData["myappointments"] as List<Appointment>;
    var userList = User.Identity.GetUserName();
    var mediciList = ViewData["medici"] as List<Medic>;
    var yourProg =  new List<Appointment>();
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Nume</th>
            <th>Data programarii</th>
            <th>Ora programarii</th>
            <th>Medic</th>
        </tr>

        @foreach (var p in propList)
        {
            if (userList.Equals(p.Email))
            {
                <tr>
                    <td>@p.FirstName @p.LastName</td>
                    <td>@p.Data</td>
                    <td>@p.Ora</td>
                    @foreach (var medic in mediciList)
                    {
                        if (medic.MedicId == p.MedicId)
                        {
                            <td>@medic.FirstName @medic.LastName</td>
                        }
                    }
                    <td><a href="/appointments/delete/@p.Id" class="btn btn-success">Sterge aceasta PROGRAMARE!</a></td>
                </tr>
                yourProg.Add(p);
            }
        }
    </table>
}

<body>
    <div id='calendar'></div>
</body>