@using ProiectDAW.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    .note {
        text-align: center;
        height: 80px;
        background: -webkit-linear-gradient(left, #e6e6e6, #999999);
        color: black;
        font-weight: bold;
        line-height: 80px;
    }

    .form-content {
        padding: 5%;
        border: 1px solid #ced4da;
        margin-bottom: 2%;
    }

    .form-control {
        border-radius: 1.5rem;
    }

    .btnSubmit {
        border: none;
        border-radius: 1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #bfbfbf;
        color: #fff;
    }

    .bg {
        background-image: url('../../Images/back5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<br />
<br />
<br />
<br />
<body class="bg">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="note">
            <p>Aveti deja un cont? Logati-va!</p>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-content">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <br />

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <br />

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                </div>
            </div>
        </div>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
