@using ProiectDAW.Models


@{
    ViewBag.Title = "Index";
}

<h1 style="color: #862d2d;">LISTA PRETURI</h1>

<a href="/GeneralService/create" class="btn btn-success">Adauga serviciu clinica</a>

<br />

<br />

<br />

@{
    var sList = ViewData["generalServices"] as List<GeneralService>;

    foreach (var serv in sList)
    {
    <div class="col-md-4 col-lg-4 col-xs-6 col-sm-4">

        @Html.Label("Name", "Name:")
        <p>@serv.Name</p>

        <br />

        @Html.Label("Description", "Description:")
        <p>@serv.Description</p>

        @Html.Label("RecoveryPeriod", "RecoveryPeriod:")
        <p>@serv.RecoveryPeriod</p>

        <a href="/GeneralService/update/@serv.GeneralServiceId" class="btn btn-warning">Editare</a>

        <br />

        <a href="/GeneralService/delete/@serv.GeneralServiceId" class="btn btn-danger">Sterge</a>

    </div>

    }
}