@model ProiectDAW.Models.Medic


@{
    ViewBag.Title = "Details";
}
<style>
    .bg {
        background-image: url('../../Images/back5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h4 {
        color: #800040;
        font-size: 60px;
        font-family: URW Chancery L, cursive;
        padding-bottom: 10px;
    }
</style>

<h4 style="font-size: 130%">Detalii doctor</h4>

<body class="bg">
    @Html.Label("Last Name", "Last Name:")
    <p>@Model.LastName</p>

    <br />

    @Html.Label("First Name", "First Name:")
    <p>@Model.FirstName</p>

    <br />

    @Html.Label("Email", "Email:")
    <p>@Model.Email</p>

    @Html.Label("Phone Number", "Phone Number:")
    <p>@Model.PhoneNumber</p>

    <br />

    @Html.Label("Experience", "Experience:")
    <p>@Model.Experience</p>

    <br />

    @Html.Label("Function", "Function:")
    <p>@Model.Function</p>

    <br />

    @Html.Label("Description", "Description:")
    <p>@Model.Description</p>

    <br />
    </body>